/* cabecera*/
.navegador {
    display: flex;
    align-content: center;
}
.Logo {
    display: block;
    width: 25% ;
   margin-right: 50%;
    background-position: center;
    border-bottom: 50%;
    border-radius: 50%;
}
body {
    display: block;
    margin: box;
      background-color: rgba(42, 165, 165, 0.233);
    }

/*hader*/
.Aquí {
    background-color: #dcd7c2;
    padding: 15;
    margin: 15;
}

.Titulo {
    text-align: center;
    background-color: #fa76d9;
    padding: 1em;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    }

    /*modificar pantalla*/

.principal {
    color: #141414;
    background-image: url("../imagen/imagen\ fondo.png"); 
    background-repeat: no-repeat;
    background-position: center;
   background-size: cover;
    width: 80%;
   text-decoration-color: rgb(1, 12, 22);
    background-color: #ffc1b2d4;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    border: 5px solid var(--color1);
    text-align: center;
}
.principal .otro-titulo {
    margin-bottom: 15px;
    text-align: #111111;
    font-size: 5rem;
}
.principal .subtitulo {
    margin-bottom: 15px;
    }  

.Texto {
    color: #111111;
    font-size: 50rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*Utilice el display grid */
.cajas {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    width: 50%;
    grid-column: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: color=rgba(240, 59, 225, 0.2);
}
.caja1 {
    background-color: #dfcd76;
    padding: 10px;
    text-align: justify;
}

.caja2 {
    background-color: rgb(160, 185, 122);
    padding: 10px;
    text-align: justify;
}

.caja3 {
    background-color: #e69c75;
    padding: 10px;
    text-align: justify;
}
.caja4 {
    p
    padding: 10px;
    text-align: justify;
    }
.caja5 {
    padding: 10px;
    }
.caja6 {
    padding: 10px;
    }

/* color de la pagina */
:root {
    --color1 :#9d9382 ;
    --color2 :#ffc1b2 ;
    --color3 :#e69c75 ;
    --color4 :#fff6c7 ;
    --color5 :#dcd7c2 ;
}

.necesitas {
    font-size: 5rem;
    font-style: oblique;
}
.yoga {
    width: 30% ;
    margin-left: 60%;
}
.footer  {
    background: #ffc1b2;    
    font-size: 2rem;
    }

    /*Estilos de Pantallas*/
@media (min-width: 1024px) {
        .cajas
        font-size: 3rem;
        grid-template-columns: 1fr 1fr 1fr;
    }

@media (min-width: 768px) {
    body {
        background-color: #fa76d9;
    }
    cajas {
        font-size: 4rem;
        grid-template-columns: ;
    }
}
@media (min-width: 320px) {
    body {
        background-color: #4a0afa;
    }
    
}
